# Dotfiles management (https://news.ycombinator.com/item?id=11070798)
alias config="/usr/bin/git --git-dir=/home/rspk/.cfg/ --work-tree=/home/rspk"
alias cst="config status"
alias cc="config commit"
alias cpp="config push"
alias cdd="config diff"

# Edit and source .bashrc/.zshrc
alias brc="nvim ~/.bashrc && source ~/.bashrc"
alias zrc="nvim ~/.zshrc && source ~/.zshrc"

# Navigation
alias ..="cd .."
alias ...="cd ../.."
alias ....='cd ../../..'
alias .....='cd ../../../..'

# ls
alias ll="ls -alh --color=auto --group-directories-first"
alias la="ls -ah --color=auto --group-directories-first"
alias ld="ls -lh --color=auto --group-directories-first"
alias lr="ls -R --color=auto --group-directories-first"
alias lt="ls -LR --color=auto --group-directories-first"
alias ltr="tree -Csuh"

# exa
alias ell="exa -alh --color=auto --group-directories-first"
alias ela="exa -ah --color=auto --group-directories-first"
alias eld="exa -lh --color=auto --group-directories-first"
alias elr="exa -R --color=auto --group-directories-first"

# Python
alias py="python3"
alias pyserver="python3 -m http.server"
alias pygrep='grep -nr --include="*.py"'
alias vact="source ./venv/bin/activate"

# JavaScript
alias npmi="npm init"
alias npmg="npm i -g "
alias npmst="npm start"
alias npmr="npm run"

# tmux
alias ta="tmux attach -t"
alias tad="tmux attach -d -t"
alias ts="tmux new-session -s"
alias tl="tmux list-sessions"
alias tksv="tmux kill-server"
alias tkss="tmux kill-session -t"

# pacman
alias pacupg="sudo pacman -Syu"
alias pacin="sudo pacman -S"
alias paclean="sudo pacman -Sc"
alias pacins="sudo pacman -U"
alias paclr="sudo pacman -Scc"
alias pacre="sudo pacman -R"
alias pacrem="sudo pacman -Rns"
alias pacrep="pacman -Si"
alias pacreps="pacman -Ss"
alias pacloc="pacman -Qi"
alias paclocs="pacman -Qs"
alias pacinsd="sudo pacman -S --asdeps"
alias pacmir="sudo pacman -Syy"
alias paclsorphans="sudo pacman -Qdt"
alias pacrmorphans='sudo pacman -Rs $(pacman -Qtdq)'
alias pacfileupg="sudo pacman -Fy"
alias pacfiles="pacman -F"
alias pacls="pacman -Ql"
alias pacown="pacman -Qo"
alias pacupd="sudo pacman -Sy"
alias upgrade="sudo pacman -Syu"

# apt
alias agu="sudo apt update"
alias agi="sudo apt install"
alias agug="sudo apt upgrade"
alias aguu="sudo apt update && sudo apt upgrade"
alias agar="sudo apt autoremove"
alias agr="sudo apt remove"
alias agp="sudo apt purge"
alias agud="sudo apt update && sudo apt dist-upgrade"

# nmap
alias nmap_open_ports="nmap --open"
alias nmap_list_interfaces="nmap --iflist"
alias nmap_slow="sudo nmap -sS -v -T1"
alias nmap_fin="sudo nmap -sF -v"
alias nmap_full="sudo nmap -sS -T4 -PE -PP -PS80,443 -PY -g 53 -A -p1-65535 -v"
alias nmap_check_for_firewall="sudo nmap -sA -p1-65535 -v -T4"
alias nmap_ping_through_firewall="nmap -PS -PA"
alias nmap_fast="nmap -F -T5 --version-light --top-ports 300"
alias nmap_detect_versions="sudo nmap -sV -p1-65535 -O --osscan-guess -T4 -Pn"
alias nmap_check_for_vulns="nmap --script=vuln"
alias nmap_full_udp="sudo nmap -sS -sU -T4 -A -v -PE -PS22,25,80 -PA21,23,80,443,3389 "
alias nmap_traceroute="sudo nmap -sP -PE -PS22,25,80 -PA21,23,80,3389 -PU -PO --traceroute "
alias nmap_full_with_scripts="sudo nmap -sS -sU -T4 -A -v -PE -PP -PS21,22,23,25,80,113,31339 -PA80,113,443,10042 -PO --script all " 
alias nmap_web_safe_osscan="sudo nmap -p 80,443 -O -v --osscan-guess --fuzzy "
alias nmap_ping_scan="nmap -n -sP"

# Git
alias g="git"
alias gb="git branch"
alias gbs="git bisect"
alias gbsb="git bisect bad"
alias gbsg="git bisect good"
alias gbsr="git bisect reset"
alias gbss="git bisect start"
alias gc="git commit -v"
alias gc="git commit -v --amend"
alias gca="git commit -v -a"
alias gca="git commit -v -a --amend"
alias gcan="git commit -v -a --no-edit --amend"
alias gcans="git commit -v -a -s --no-edit --amend"
alias gcam="git commit -a -m"
alias gcsm="git commit -s -m"
alias gcmsg="git commit -m"
alias gcs="git commit -S"
alias gco="git checkout"
alias gcb="git checkout -b"
alias gcm="git checkout main"
alias gcd="git checkout develop"
alias gcp="git cherry-pick"
alias gcpa="git cherry-pick --abort"
alias gcpc="git cherry-pick --continue"
alias gf="git fetch"
alias gfa="git fetch --all --prune"
alias gfo="git fetch origin"
alias gd="git diff"
alias gdca="git diff --cached"
alias gdt="git diff-tree --no-commit-id --name-only -r"
alias gdw="git diff --word-diff"
alias gcf="git config --list"
alias gcl="git clone --recursive"
alias gclean="git clean -fd"
alias gpristine="git reset --hard && git clean -dfx"
alias gdct='git describe --tags `git rev-list --tags --max-count=1`'
alias ggsup="git branch --set-upstream-to=origin/(git rev-parse --abbrev-ref HEAD)"
alias gignore="git update-index --assume-unchanged"
alias gk="gitk --all --branches"
alias gsd="git svn dcommit"
alias gsps="git show --pretty = short --show-signature"
alias gsr="git svn rebase"
alias gts="git tag -s"
alias gunignore="git update-index --no-assume-unchanged"
alias gvt="git verify-tag"
alias gwch="git whatchanged -p --abbrev-commit --pretty = medium"
alias gr="git remote"
alias grup="git remote update"
alias grv="git remote -v"
alias gm="git merge"
alias gmt="git mergetool --no-prompt"
alias gl="git pull"
alias ggpnp="git pull origin (git rev-parse --abbrev-ref HEAD) && git push origin (git rev-parse --abbrev-ref HEAD)"
alias ggpull="git pull origin (git rev-parse --abbrev-ref HEAD)"
alias ggl="git pull origin (git rev-parse --abbrev-ref HEAD)"
alias ggpur="git pull --rebase origin (git rev-parse --abbrev-ref HEAD)"
alias glum="git pull upstream main"
alias gup="git pull --rebase"
alias gsta="git stash save"
alias gstaa="git stash apply"
alias gstd="git stash drop"
alias gstl="git stash list"
alias gstp="git stash pop"
alias gsts="git stash show --text"
alias gp="git push"
alias gpoat="git push origin --all && git push origin --tags"
alias ggpush="git push origin (git rev-parse --abbrev-ref HEAD)"
alias ggp="git push origin (git rev-parse --abbrev-ref HEAD)"
alias gg="git gui citool"
alias gga="git gui citool --amend"
alias gss="git status -s"
alias gst="git status"
alias glg="git log --stat --max-count=10"
alias glgg="git log --graph --max-count=10"
alias glgga="git log --graph --decorate --all"
alias glo="git log --oneline --decorate --color"
alias glog="git log --oneline --decorate --color --graph"
alias gsrt="git shortlog"
alias gcount="git shortlog -sn"
alias grmv="git remote rename"
alias grrm="git remote remove"
alias grset="git remote set-url"
alias grba="git rebase --abort"
alias grbc="git rebase --continue"
alias grbs="git rebase --skip"
alias grbi="git rebase -i"
alias grh="git reset HEAD"
alias grhh="git reset HEAD --hard"
alias gg="git grep --heading --break -p"
alias ggpush="git push --set-upstream origin (git rev-parse --abbrev-ref HEAD)"
alias ggp="git push --set-upstream origin (git rev-parse --abbrev-ref HEAD)"
alias gcd="cd (git rev-parse --show-toplevel)"
alias gfrh="git fetch; and git reset --hard"
alias gpr="git pull --rebase"
alias ga="git add"
alias gaa="git add --all ."
alias gas="git rebase --autosquash"
alias gpf="git push --force"

# Utilities
alias kppw="keepassxc-cli generate -L 50" # Password
alias kppp="keepassxc-cli diceware -W 8" # Passphrase
alias pw="cat /dev/urandom | tr -dc 'a-zA-Z0-9-!@#$%^&*()_+~' | fold -w 30 | head -n 1"
alias df="df -h"
alias free="free -h"
alias today="date +'%Y-%m-%d'"
alias unix="date '+%s'"
alias stopw="time (read)" # Stopwatch
alias pg="ping 8.8.8.8"
alias lynx='lynx -vikeys -accept_all_cookies'

# Misc
alias v="nvim"
alias ff="/opt/firefox_dev/firefox/firefox"
alias t="~/todo.txt-cli/todo.sh"
alias yt="youtube-dl --add-metadata -i"
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'
alias ka="killall"
alias cp="cp -iv"
alias mv="mv -iv"
alias rm="rm -v" 
alias mkd="mkdir -pv" 

# VPN
alias pvpn="sudo protonvpn c"
alias dvpn="sudo protonvpn d"

# DNS
alias dns="sudo nvim /etc/resolv.conf"

# Config files
alias dwmconfig="nvim ~/.suckless/dwm-6.2/config.h"
alias dwmstatconfig="nvim ~/.suckless/dwmstatus/dwmstatus.c"
alias slconfig="nvim ~/.suckless/slstatus/config.h"
alias stconfig="nvim ~/.suckless/st-0.8.2/config.h"
alias dmenuconfig="nvim ~/.suckless/dmenu/config.h"
alias surfconfig="nvim ~/.suckless/surf-2.0/config.h"
alias slockconfig="nvim ~/.suckless/slock-1.4/config.h"
alias sentconfig="nvim ~/.suckless/sent-1/config.h"
alias tabbedconfig="nvim ~/.suckless/tabbed/config.h"

alias xinitconfig="nvim ~/.xinitrc"
alias xprofileconfig="nvim ~/.xprofile"
alias tmuxconfig="nvim ~/.tmux.conf"
alias nvimconfig="nvim ~/.config/nvim/init.vim"
alias vimconfig="nvim ~/.vimrc"
alias urxvtconfig="nvim ~/.Xresources"
alias urxvtperls="cd /usr/lib/x86_64-linux-gnu/urxvt/perl"
alias xup="xrdb ~/.Xresources"
alias alaconfig="nvim ~/.config/alacritty/alacritty.yml"
alias zshconfig="nvim ~/.zshrc"
alias bashconfig="nvim ~/.bashrc"
alias fishconfig="cd ~/.config/fish;ranger"
alias i3config="nvim ~/.config/i3/config"
alias polybarconfig="nvim ~/.config/polybar/config"
alias i3bconfig="nvim ~/.config/i3/i3blocks.conf"
alias xmonadconfig="nvim ~/.xmonad/xmonad.hs"
alias xmobarconfig="nvim ~/.config/xmobar/xmobarrc"
alias sxconfig="nvim ~/.config/sxhkd/sxhkdrc"
alias bspconfig="nvim ~/.config/bspwm/bspwmrc"
alias irssiconfig="nvim ~/.irssi/config"
alias weechatconfig="nvim ~/.weechat/;ranger"
alias muttconfig="nvim ~/.mutt/muttrc"
alias neomuttconfig="nvim ~/.neomutt/neomuttrc"
alias zathuraconfig="nvim ~/.config/zathura/zathura"
alias qbconfig="nvim ~/.config/qutebrowser/config.py"
alias roficonfig="nvim ~/.config/rofi/config"
alias neofetchconfig="nvim ~/.config/neofetch/config.conf"
alias rangerconfig="nvim ~/.config/ranger"
alias newsboatconfig="nvim ~/.config/newsboat/urls"
alias comptonconfig="nvim ~/.config/compton/compton.conf"
alias conkyconfig="nvim ~/.config/conky/conky.conf"
alias brootconfig="nvim ~/.config/broot/conf.toml"
alias dunstconfig="nvim ~/.config/dunst/dunstrc"
alias powerlineconfig="cd ~/.config/powerline;ranger"

# Etc.
alias rgl="cd ~/main/src/rsapkf/42/docs; rg -S "
alias rgw="cd ~/main/src/rsapkf/www; rg -S "
alias pr="cd ~/main/src/rsapkf"
alias 42="cd ~/main/src/rsapkf/42/;nvim ./"
alias 73="cd ~/main/src/rsapkf/73/docs;nvim ./"
alias www="cd ~/main/src/rsapkf/www;nvim ./"
