snippet html "HTML boilerplate" b
<!DOCTYPE html>
<html lang="${1:en}">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>${2:Document}</title>
	</head>
	<body>
		${0:Body}
	</body>
</html>
endsnippet
